@import '../../../../sass/variables';

$separation: 6px;

.categories-container {
    padding-top: $small-space;
    padding-bottom: $small-space;
    font-size: 14px;
    span {
        color: $gray;
        padding-right: $separation;
    &.last {
            font-weight: $bold;
        }
    }
}