@import '~bootstrap/scss/bootstrap-reboot';
@import '~meyer-reset-sass';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities/text';
@import '_variables';

// Layout
body {
  background-color: $light-gray;
  font-family: $main-font;
  font-size: $font-md;
  font-weight: $regular;
  overflow-x: hidden;
}

@include media-breakpoint-up(sm) {
  .container-fluid {
    padding-left: $container-padding;
    padding-right: $container-padding;
  }
}

// Elements
%button {
  outline: none;
  border: none;
  border-radius: $button-radius;
  font-size: $font-md;
}

%input {
  outline: none;
  border: none;
  font-size: $font-md;
  color: $black;
  &::placeholder {
    color: $gray;
  }
}

%form-group-child {
  padding: $form-group-padding;
  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

.input-group {
  width: 100%;

  input {
    @extend %input;
    flex: 1 1 auto;
    border-radius: $form-group-radius;
    @extend %form-group-child;
  }

  button {
    @extend %button;
    flex: 0 0 auto;
    background-color: $light-gray;
    border-radius: $form-group-radius;
    @extend %form-group-child;
  }
}

.primary-button {
  @extend %button;
  color: white;
  background-color: $blue;
  padding: $small-space;
  width: 100%;
}

.message {
  padding-top: $small-space;
}

%a {
  color: $black;
  text-decoration: none;
}

a {
  @extend %a;
  &:hover {
    @extend %a;
  }
}

// Helpers
.fluid-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.xs-text-center {
  @include media-breakpoint-only(xs) {
    text-align: center;
    padding: 5px;
  }
  .image-container {
    margin-left: auto;
    margin-right: auto;
  }
}

